extends layout

block content
  .container
    h1 Subscribe To RSS Feed

    form(method="POST", action=`/subscribe`)
      .mb-3
        label.form-label(for="post") RSS feed url
        input#post.form-control(type="text", name="feed")
      button.btn.btn-primary(type="submit") Submit
